@font-face {
  font-family: "Fraunces";
  src: url("../../fonts/") format("woff2"), url("../../fonts/Fraunces9pt-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../../fonts/Barlow-Regular.woff2") format("woff2"), url("../../fonts/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../../fonts/Barlow-Bold.woff2") format("woff2"), url("../../fonts/Barlow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fraunces", "Barlow";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .container {
    max-width: 992px;
    padding: 0 20px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#primary-btn {
  background: #0E8784;
  border-radius: 6px;
  padding: 15px 30px;
  text-decoration: none;
  color: #FEFCF7;
  transition: 0.3s ease;
}
#primary-btn:hover {
  background-color: #66d2cf;
}
@media (max-width: 992px) {
  #primary-btn {
    padding: 14px 26px;
  }
}
@media (max-width: 768px) {
  #primary-btn {
    padding: 13px 24px;
  }
}
@media (max-width: 576px) {
  #primary-btn {
    padding: 12px 22px;
    font-size: 14px;
  }
}

.main-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 40;
  background-color: #FFFFFF;
  padding: 20px 0;
}
@media (max-width: 768px) {
  .main-header {
    position: static;
  }
}
.main-header .header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .main-header .header-block {
    justify-content: center;
  }
}
.main-header .header-block .logo {
  position: relative;
  z-index: 101;
}
@media (max-width: 576px) {
  .main-header .header-block #hamburger:checked ~ .nav .nav__list {
    transform: translate(0);
  }
  .main-header .header-block #hamburger:checked + .hamburger #menu {
    display: none;
  }
  .main-header .header-block #hamburger:checked + .hamburger #close {
    display: block;
  }
}
.main-header .header-block #close,
.main-header .header-block #menu {
  color: #000000;
  background-color: #FFFFFF;
  border-radius: 5px;
  font-size: 40px;
  position: fixed;
  top: 20px;
  left: 10px;
  z-index: 101;
  display: none;
}
@media (max-width: 576px) {
  .main-header .header-block #menu {
    display: block;
  }
}
.main-header .header-block .nav__list {
  display: flex;
  align-items: center;
  gap: 33px;
  list-style-type: none;
}
@media (max-width: 576px) {
  .main-header .header-block .nav__list {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-100%);
    z-index: 100;
    background-color: #FFFFFF;
    height: 100vh;
    width: 40%;
    padding: 55px 0 0 20px;
    transition: 0.3s ease;
  }
}
.main-header .header-block .nav__link {
  text-decoration: none;
  font: 12px "Barlow";
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: #83888F;
  transition: 0.3s ease;
}
.main-header .header-block .nav__link:hover, .main-header .header-block .nav__link :focus {
  color: #000000;
}

.hero {
  background: url(../../img/hero-bg.png) no-repeat center;
  width: 100%;
  background-size: contain;
  height: 565px;
  padding: 100px 0 0 85px;
}
@media (max-width: 992px) {
  .hero {
    height: 420px;
    background-size: cover;
    border-radius: 10px;
    padding: 50px 0 0 30px;
  }
}
@media (max-width: 768px) {
  .hero {
    height: 370px;
    background-size: cover;
    border-radius: 10px;
    padding: 40px 0 0 30px;
  }
}
@media (max-width: 576px) {
  .hero {
    padding: 30px 10px 0;
  }
}
.hero .hero-content {
  width: 50%;
}
@media (max-width: 992px) {
  .hero .hero-content {
    width: 55%;
  }
}
@media (max-width: 768px) {
  .hero .hero-content {
    width: 65%;
  }
}
@media (max-width: 576px) {
  .hero .hero-content {
    width: 100%;
    text-align: center;
  }
}
.hero .hero__title {
  font: 64px "Fraunces";
  font-weight: 900;
  line-height: 64px;
  color: #FEFCF7;
}
@media (max-width: 992px) {
  .hero .hero__title {
    font-size: 54px;
    line-height: 54px;
  }
}
@media (max-width: 768px) {
  .hero .hero__title {
    font-size: 48px;
    line-height: 48px;
  }
}
@media (max-width: 576px) {
  .hero .hero__title {
    font-size: 44px;
    line-height: 44px;
  }
}
.hero .hero__description {
  font: 16px "Barlow";
  font-weight: 400;
  margin-top: 32px;
  line-height: 26px;
  color: #FEFCF7;
  opacity: 0.8;
  margin-bottom: 56px;
}
@media (max-width: 992px) {
  .hero .hero__description {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .hero .hero__description {
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 32px;
  }
}

.collection {
  margin-top: 120px;
}
.collection .collection__title {
  text-align: center;
  font-size: 132px;
  background: -webkit-linear-gradient(#333 0%, #777 30%, #eee 60%, #eee 1000%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 992px) {
  .collection .collection__title {
    font-size: 105px;
  }
}
@media (max-width: 768px) {
  .collection .collection__title {
    font-size: 75px;
  }
}
@media (max-width: 576px) {
  .collection .collection__title {
    font-size: 45px;
  }
}
.collection .collection-pockets {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  transform: translateY(-55px);
}
@media (max-width: 768px) {
  .collection .collection-pockets {
    justify-content: center;
    transform: translateY(-35px);
  }
}
@media (max-width: 576px) {
  .collection .collection-pockets {
    transform: translateY(0);
  }
}
.collection .collection-pockets .collection-pocket {
  width: 255px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 768px) {
  .collection .collection-pockets .collection-pocket {
    width: 100%;
    padding: 0 85px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (max-width: 576px) {
  .collection .collection-pockets .collection-pocket {
    width: auto;
    max-width: 255px;
    padding: 0;
    display: block;
  }
}
.collection .collection-pockets .collection-pocket .collection-pocket-image {
  width: 100%;
}
@media (max-width: 768px) {
  .collection .collection-pockets .collection-pocket .collection-pocket-image {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .collection .collection-pockets .collection-pocket .collection-pocket-image {
    width: 100%;
  }
}
.collection .collection-pockets .collection-pocket .collection-pocket-image .collection-pocket__img {
  width: 100%;
}
.collection .collection-pockets .collection-pocket .collection-pocket-content {
  width: 100%;
  text-align: center;
}
@media (max-width: 768px) {
  .collection .collection-pockets .collection-pocket .collection-pocket-content {
    text-align: left;
    width: 50%;
  }
}
@media (max-width: 576px) {
  .collection .collection-pockets .collection-pocket .collection-pocket-content {
    text-align: center;
    width: 100%;
  }
}
.collection .collection-pockets .collection-pocket .collection-pocket-content .collection-pocket__heading {
  font: 24px "Fraunces";
  font-weight: 900;
  line-height: 32px;
  color: #333D4B;
}
.collection .collection-pockets .collection-pocket .collection-pocket-content .collection-pocket__text {
  font: 16px "Barlow";
  font-weight: 400;
  line-height: 26px;
}

.features {
  margin-top: 200px;
}
.features-container {
  width: 100%;
  height: 500px;
  background-color: #2C343E;
  border-radius: 10px;
  position: relative;
}
@media (max-width: 768px) {
  .features-container {
    height: 570px;
  }
}
@media (max-width: 576px) {
  .features-container {
    height: 960px;
  }
}
.features-container-content {
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0 0;
}
@media (max-width: 576px) {
  .features-container-content {
    padding: 100px 0 40px;
  }
}
.features-container__title {
  font: 40px "Fraunces";
  color: #FEFCF7;
  font-weight: 900;
  line-height: 48px;
}
.features-container__description {
  margin-top: 32px;
  font: 16px "Barlow";
  font-weight: 400;
  line-height: 26px;
  color: #FEFCF7;
}
.features-container .features-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 20px 45px 0;
}
@media (max-width: 768px) {
  .features-container .features-cards {
    width: 80%;
    margin: 0 10%;
  }
}
.features-container .features-card {
  max-width: 350px;
  background-color: #0E8784;
  border-radius: 8px;
  padding: 72px 48px 48px;
}
@media (max-width: 768px) {
  .features-container .features-card {
    display: flex;
    align-items: center;
    gap: 55px;
    width: 100%;
    max-width: none;
    padding: 20px 38px 30px;
  }
}
@media (max-width: 576px) {
  .features-container .features-card {
    display: block;
    padding: 72px 38px 50px;
  }
}
.features-container .features-card-image {
  display: flex;
  justify-content: center;
}
.features-container .features-card-image .truck-mg {
  margin: 10px 0;
}
.features-container .features-card-content {
  width: 254px;
  text-align: center;
}
@media (max-width: 768px) {
  .features-container .features-card-content {
    margin: 0;
    text-align: left;
    width: auto;
  }
}
@media (max-width: 576px) {
  .features-container .features-card-content {
    text-align: center;
  }
}
.features-container .features-card__heading {
  font: 24px "Fraunces";
  font-weight: 900;
  line-height: 32px;
  color: #FEFCF7;
  margin-top: 55px;
}
@media (max-width: 768px) {
  .features-container .features-card__heading {
    margin: 0;
  }
}
@media (max-width: 576px) {
  .features-container .features-card__heading {
    margin-top: 56px;
  }
}
.features-container .features-card__text {
  font: 16px "Barlow";
  font-weight: 400;
  line-height: 26px;
  color: #FEFCF7;
  margin-top: 24px;
}
@media (max-width: 768px) {
  .features-container .features-card__text {
    font-size: 15px;
  }
}/*# sourceMappingURL=main.css.map */