// Colors
$black: #000000;
$white: #ffffff;
$light: #fefcf7;
$primary-green: #0e8784;
$primary-grey: #333d4b;
$active-green: #66d2cf;
$lighter-grey: #83888f;
$primary-orange: #fdd6ba;
$contain-color: #2c343e;
$capsule-color: #f4f1eb;

// Breakpoints
$desktop-l: 1440px;
$desktop: 1230px;
$tablet-l: 992px;
$tablet: 768px;
$mobile: 576px;
