// Colors
$black: #000000;
$white: #FFFFFF;
$light: #FEFCF7;
$primary-green: #0E8784;
$primary-grey: #333D4B;
$active-green: #66D2CF;
$lighter-grey: #83888F;
$primary-orange: #FDD6BA;
$contain-color: #2C343E;
$capsule-color: #F4F1EB;


// Breakpoints
$desktop-l: 1440px;
$desktop: 1200px;
$tablet-l: 992px;
$tablet: 768px;
$mobile: 576px;