only screen and .about-us {
  background: url(../../img/about-us.png) no-repeat center;
  width: 100%;
  background-size: contain;
  height: 425px;
  padding: 100px 0 0 85px;

  @media only screen and (max-width: $tablet-l) {
    height: 420px;
    background-size: cover;
    border-radius: 10px;
    padding: 50px 0 0 30px;
  }

  @media only screen and (max-width: $tablet) {
    height: 370px;
    background-size: cover;
    border-radius: 10px;
    padding: 40px 0 0 30px;
  }

  @media only screen and (max-width: $mobile) {
    padding: 30px 10px 0;
  }

  .about-us-content {
    width: 50%;

    @media only screen and (max-width: $tablet-l) {
      width: 55%;
    }

    @media only screen and (max-width: $tablet) {
      width: 65%;
    }

    @media only screen and (max-width: $mobile) {
      width: 100%;
      text-align: center;
    }
  }

  .about-us__title {
    font: 64px "Fraunces";
    font-weight: 900;
    line-height: 64px;
    color: $light;

    @media only screen and (max-width: $tablet-l) {
      font-size: 54px;
      line-height: 54px;
    }

    @media only screen and (max-width: $tablet) {
      font-size: 48px;
      line-height: 48px;
    }

    @media only screen and (max-width: $mobile) {
      font-size: 44px;
      line-height: 44px;
    }
  }

  .about-us__description {
    font: 16px "Barlow";
    font-weight: 400;
    margin-top: 32px;
    line-height: 26px;
    color: $light;
    opacity: 0.8;
    margin-bottom: 56px;

    @media only screen and (max-width: $tablet-l) {
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 40px;
    }

    @media only screen and (max-width: $tablet) {
      font-size: 15px;
      line-height: 19px;
      margin-bottom: 32px;
    }
  }
}
