.choose {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;

  &-menu {
    padding: 88px 0 0;
    width: 25%;

    @media (max-width: $tablet) {
      display: none;
    }

    &__items {
      list-style: none;
      display: inline-block;
    }

    &__item {
      padding: 24px;
      padding-left: 0;
      &:not(:last-child) {
        border-bottom: 1px solid $lighter-grey;
      }

      &:first-child {
        padding-top: 0;
      }
    }

    &__link {
      white-space: nowrap;
      text-decoration: none;
      font: 24px "Fraunces";
      font-weight: 900;
      line-height: 32px;
      color: $primary-grey;
      opacity: 0.5;
      transition: opacity 0.4s ease;

      span {
        white-space: nowrap;
        opacity: 0.4;
      }

      &:hover {
        opacity: 0.8;

        span {
          opacity: 0.7;
        }
      }

      &:focus {
        opacity: 1;

        span {
          opacity: 0.7;
        }
      }
    }
  }

  &-types {
    width: 65%;

    @media (max-width: $tablet) {
      width: 100%;
    }
  }

  &-type {
    &-content {
      display: flex;
      justify-content: space-between;
      padding: 88px 0 0;
      cursor: pointer;

      @media (max-width: $tablet) {
        padding: 58px 0 0;
      }
    }

    &__img {
      @media (max-width: $mobile) {
        max-width: 18px;
      }
    }
    .rotate {
      transition: 0.2s ease;
      transform: rotate(180deg);
    }

    &__title {
      font: 40px "Fraunces";
      font-weight: 900;
      line-height: 1.2;
      color: $lighter-grey;

      @media only screen and (max-width: $tablet) {
        font-size: 32px;
      }

      @media only screen and (max-width: $mobile) {
        font-size: 21px;
      }
    }

    .type-cards {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      margin-top: 56px;

      @media (max-width: $tablet-l) {
        justify-content: center;
        row-gap: 20px;
        flex-wrap: wrap;
      }

      @media only screen and (max-width: $tablet) {
        justify-content: space-between;
        row-gap: 0;
        flex-wrap: nowrap;
      }

      @media only screen and (max-width: $mobile) {
        flex-direction: column;
        row-gap: 0;
        flex-wrap: nowrap;
        gap: 30px;
      }
    }
  }

  .type-card__input:checked + .type-card__content {
    background-color: $primary-green;

    span {
      transition: color 0.3s ease;
      color: $white;
    }
  }

  .type-card__content {
    max-width: 228px;
    transition: color 0.3s ease, background-color 0.3s ease;
    height: auto;
    padding: 32px 25px 84px;
    border-radius: 8px;
    background-color: $capsule-color;
    display: inline-flex;
    flex-direction: column;

    &:hover {
      background-color: $primary-orange;
    }

    @media only screen and (max-width: $mobile) {
      width: 100%;
      max-width: none;
      padding: 32px 22px;
    }

    span:first-child {
      font: 24px "Fraunces";
      font-weight: 900;
      line-height: 32px;
      color: $primary-grey;
    }

    span:last-child {
      font: 16px "Barlow";
      font-weight: 400;
      line-height: 26px;
      color: $primary-grey;
    }
  }

  .types-summary {
    margin-top: 85px;
    width: 100%;
    height: auto;
    padding: 27px 64px;
    margin-bottom: 40px;
    background-color: $primary-grey;
    border-radius: 10px;

    @media only screen and (max-width: $tablet) {
      padding: 27px 44px;
      margin-top: 65px;
    }

    @media only screen and (max-width: $mobile) {
      padding: 22px 33px;
      margin-top: 55px;
    }

    &__heading {
      font: 16px "Barlow";
      font-weight: 400;
      line-height: 26px;
      text-transform: uppercase;
      color: $white;
      opacity: 0.5;
    }

    &__text {
      font: 24px "Fraunces";
      font-weight: 900;
      line-height: 2;
      color: $white;

      @media only screen and (max-width: $mobile) {
        font-size: 19px;
      }

      a {
        text-decoration: none;
        color: $primary-green;
      }
    }
  }

  .choose-types-link {
    display: flex;
    justify-content: flex-end;

    @media only screen and (max-width: $tablet) {
      justify-content: center;
    }
  }
}
