/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline-offset: 3px;
  outline: 2px dotted $black;
}

body {
  font-family: "Fraunces", "Barlow";
}

/* CONTAINER */
.container {
  max-width: $desktop;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* BUTTON */
#primary-btn {
  background: $primary-green;
  border-radius: 6px;
  padding: 15px 30px;
  text-decoration: none;
  color: $light;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #66d2cf;
  }

  @media only screen and (max-width: $tablet-l) {
    padding: 14px 26px;
  }

  @media only screen and (max-width: $tablet) {
    padding: 13px 24px;
  }

  @media only screen and (max-width: $mobile) {
    padding: 12px 22px;
    font-size: 14px;
  }
}
