.main-header {
  position: sticky;
  top: 0;
  z-index: 40;
  background-color: $white;
  padding: 20px 0;

  @media only screen and (max-width: $tablet) {
    position: static;
    z-index: 1;
  }
}

.header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

.logo {
  display: flex;

  &__img {
    max-width: 228px;
    width: 100%;
  }

  @media only screen and (max-width: $mobile) {
    text-align: center;
  }
}

.nav-toggler {
  border: none;
  background-color: transparent;
  flex-direction: column;
  gap: 3px 0;
  display: none;

  @media only screen and (max-width: $mobile) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    position: relative;
  }

  &.show {
    .nav-toggler__inner {
      position: absolute;

      &:first-child {
        transform: rotateZ(135deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        transform: rotateZ(-135deg);
      }
    }
  }
}

.nav-toggler__inner {
  display: inline-block;
  background-color: #333d4b;
  width: 16px;
  height: 3px;
  border-radius: 1.5px;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.nav {
  @media only screen and (max-width: $mobile) {
    position: absolute;
    z-index: 20;
    top: 65px;
    left: 0;
    width: 100%;
    background: linear-gradient(
      to bottom,
      #fefcf7 30%,
      rgba(254, 252, 247, 0.504981) 55%
    );
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
  }

  &.show {
    opacity: 1;
    pointer-events: auto;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 33px;
  font-family: "Barlow", "Roboto", sans-serif;
  list-style-type: none;

  @media only screen and (max-width: $mobile) {
    font-family: "Fraunces", "Roboto", sans-serif;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    text-align: center;
  }
}

.nav__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: $lighter-grey;
  transition: color 0.3s ease;

  &--checked {
    color: $black;
  }

  &:hover,
  &:focus {
    color: $black;
  }

  @media only screen and (max-width: $tablet) {
    font-size: 13px;
  }

  @media only screen and (max-width: $mobile) {
    font-size: 24px;
    text-transform: capitalize;
  }
}
