.hero {
  background: url(../../img/hero-bg.png) no-repeat center;
  width: 100%;
  background-size: contain;
  height: 565px;
  padding: 100px 0 0 85px;

  @media (max-width: $tablet-l) {
    height: 420px;
    background-size: cover;
    border-radius: 10px;
    padding: 50px 0 0 30px;
  }

  @media (max-width: $tablet) {
    height: 370px;
    background-size: cover;
    border-radius: 10px;
    padding: 40px 0 0 30px;
  }

  .hero-content {
    width: 50%;

    @media (max-width: $tablet-l) {
      width: 55%;
    }

    @media (max-width: $tablet) {
      width: 65%;
    }
  }

  .hero__title {
    font: 64px "Fraunces";
    font-weight: 900;
    line-height: 64px;
    color: $light;

    @media (max-width: $tablet-l) {
      font-size: 54px;
      line-height: 54px;
    }

    @media (max-width: $tablet) {
      font-size: 48px;
      line-height: 48px;
    }
  }

  .hero__description {
    font: 16px "Barlow";
    font-weight: 400;
    margin-top: 32px;
    line-height: 26px;
    color: $light;
    opacity: 0.8;
    margin-bottom: 56px;

    @media (max-width: $tablet-l) {
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 40px;
    }

    @media (max-width: $tablet) {
      font-size: 15px;
      line-height: 19px;
      margin-bottom: 32px;
    }
  }
}
