.instructions {
  margin-top: 150px;

  &__title {
    font: 24px "Fraunces";
    font-weight: 900;
    line-height: 32px;
    color: $lighter-grey;

    @media (max-width: $mobile) {
      text-align: center;
    }
  }

  &-decoration {
    display: flex;
    align-items: center;
    margin-top: 80px;

    @media (max-width: $mobile) {
      display: none;
    }

    .deco-ring {
      display: inline-block;
      border: 2px solid $primary-green;
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }

    .deco-line {
      display: inline-block;
      width: 350px;
      height: 2px;
      background-color: $primary-orange;

      @media (max-width: $tablet-l) {
        width: 300px;
      }

      @media (max-width: $tablet) {
        width: 210px;
      }
    }
  }

  .instructions-info {
    display: flex;
    justify-content: space-between;
    gap: 85px;
    margin-top: 48px;

    @media (max-width: $tablet-l) {
      gap: 40px;
    }

    @media (max-width: $tablet) {
      gap: 20px;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media (max-width: $mobile) {
      flex-direction: column;
      text-align: center;
    }
  }

  .info-prepare {
    width: 300px;

    @media (max-width: $tablet-l) {
      width: 240px;
    }

    @media (max-width: $tablet) {
      width: 224px;
    }

    @media (max-width: $tablet) {
      width: 100%;
    }

    &:first-child {
      margin-bottom: 64px;

      @media (max-width: $tablet) {
        margin: 0;
      }
    }
    &:last-child {
      margin-bottom: 64px;

      @media (max-width: $tablet) {
        margin-bottom: 64px;
      }
    }
  }

  .instructions-info__number {
    font: 72px "Fraunces";
    font-weight: 900;
    line-height: 72px;
    color: $primary-orange;
  }

  .instructions-info__heading {
    font: 26px "Fraunces";
    font-weight: 900;
    line-height: 32px;
    color: $primary-grey;
    margin-top: 42px;

    @media (max-width: $mobile) {
      br {
        display: none;
      }
    }
  }

  .instructions-info__text {
    font: 15px "Barlow";
    font-weight: 400;
    line-height: 25px;
    margin-top: 38px;
    color: $primary-grey;
  }

  .instructions-link {
    @media (max-width: $mobile) {
      display: flex;
      justify-content: center;
    }
  }
}
