.prepare {
  margin-top: 168px;
  width: 100%;
  height: auto;
  padding: 91px 85px 70px;
  background-color: $primary-grey;
  border-radius: 10px;

  @media only screen and (max-width: $tablet-l) {
    padding: 65px 35px 30px;
    margin-top: 144px;
  }

  @media only screen and (max-width: $mobile) {
    margin-top: 144px;
    padding: 25px 15px 20px;
  }

  .prepare-decorations {
    display: flex;
    gap: 349px;
    position: relative;

    @media only screen and (max-width: $tablet-l) {
      gap: 269px;
    }

    @media only screen and (max-width: $tablet) {
      gap: 189px;
    }

    @media only screen and (max-width: $mobile) {
      display: none;
    }

    .prepare__ring {
      display: inline-block;
      width: 30px;
      height: 30px;
      border: 2px solid $primary-green;
      align-items: center;
      border-radius: 50%;
      position: relative;
      z-index: 2;
    }

    .prepare__line {
      position: absolute;
      z-index: 1;
      width: 760px;
      height: 2px;
      background-color: $primary-orange;
      top: 50%;
      transform: translateY(-50%);
      left: 15px;

      @media only screen and (max-width: $tablet-l) {
        width: 600px;
      }

      @media only screen and (max-width: $tablet) {
        width: 440px;
      }
    }
  }

  &-content {
    display: flex;
    width: 100%;
    gap: 95px;
    margin-top: 67px;

    @media (max-width: $tablet-l) {
      gap: 30px;
    }

    @media (max-width: $tablet) {
      gap: 10px;
    }

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__manual {
    max-width: 285px;

    @media (max-width: $tablet-l) {
      max-width: 250px;
    }

    @media (max-width: $tablet) {
      max-width: 223px;
    }

    @media (max-width: $mobile) {
      max-width: none;
      width: 100%;
      text-align: center;
    }
  }

  &__number {
    font: 72px "Fraunces";
    font-weight: 900;
    line-height: 72px;
    color: $primary-orange;
  }

  &__title {
    font: 32px "Fraunces";
    font-weight: 900;
    line-height: 36px;
    color: $light;
    margin-top: 38px;

    @media (max-width: $tablet) {
      font-size: 28px;
    }

    @media (max-width: $mobile) {
      br {
        display: none;
      }
    }
  }

  &__description {
    font: 16px "Barlow";
    font-weight: 400;
    line-height: 26px;
    color: $light;
    margin-top: 38px;

    @media (max-width: $tablet) {
      font-size: 15px;
    }
  }
}
